<h1>Clients::Items#show</h1>

<%= @item.name %>
<%= @item.price %>
<%= @item.introduction %>
<%= attachment_image_tag @item,:item_image, format: "jpeg" %>
<p>Find me in app/views/clients/items/show.html.erb</p>
